<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>


<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">

    <!-- Header -->
    <div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow-sm dark:shadow-none dark:border-b bg-[#E3F2F1] dark:bg-transparent print:hidden">
        <button *ngIf="isScreenSmall"
        mat-icon-button
        (click)="toggleNavigation('mainNavigation')">
        <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
        </button>
        <div class="flex items-center flex-shrink-0 w-30 h-auto mt-1 ml-14">
            <img src="/assets/images/logo1.png">
        </div>
        <div class="w-12 ml-14 opacity-30 border-2 border-solid border-[#ACCCD0] rotate-90"></div>
        <a class="block mt-4 lg:inline-block lg:mt-0 text-black text-base font-['Poppins']">
            <span class="font-bold mr-0.5">System portal:</span><span class="font-medium">Finance & Account > Account</span>
          </a>
        <div class="flex items-center pl-2 ml-auto">
            <mat-icon svgIcon="heroicons_solid:arrows-expand" class="text-black mx-2 hover:cursor-pointer"></mat-icon>
            <mat-icon svgIcon="heroicons_solid:bell" class="text-black mx-2 hover:cursor-pointer"></mat-icon>
            <mat-icon svgIcon="heroicons_solid:exclamation-circle" class="text-black mx-2 hover:cursor-pointer"></mat-icon>
            <user></user>
        </div>
    </div>
    <div class="flex">
        <!-- Navigation -->
        <fuse-vertical-navigation
        class="dark bg-[#009688] shadow-[0_1px_4px_34px_rgba(255,255,255,0.25)] print:hidden"
        [mode]="isScreenSmall ? 'over' : 'side'"
        [name]="'mainNavigation'"
        [navigation]="navigation.default"
        [opened]="!isScreenSmall">
            <ng-container fuseVerticalNavigationContentHeader>
                <div class="flex h-4">
                </div>
            </ng-container>
        </fuse-vertical-navigation>

        <!-- Content -->
        <div class="flex flex-col flex-auto">
            <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
                Otherwise, layout changes won't be registered and the view won't be updated! -->
            <router-outlet *ngIf="true"></router-outlet>
        </div>
    </div>
</div>
