::ng-deep .filter-block {
    .mat-content {
        display: block !important;
        mat-checkbox {
            color: black !important;
        }
    }   
    .mat-expansion-panel-content  .mat-expansion-panel-body {
        padding-bottom: 0 !important;
    }
}
::ng-deep .custom-table {
    .mat-paginator .mat-paginator-container {
        padding: 0;
    }
}
::ng-deep .btn-group {
    border: 1px solid #CACACA !important;
    border-radius: 6px !important;
    mat-button-toggle {
        border: 1px solid #CACACA !important;
        border-radius: 0 !important;
        margin: 0 !important;
        span.mat-ripple.mat-button-toggle-ripple {
            border: 1px solid #CACACA !important;
            border-radius: 0 !important;
        }
    }
    mat-button-toggle.active {
        color: #009688;
        border: 1px solid #009688 !important;
        border-radius: 0 !important;
        margin: 0 !important;
        span.mat-ripple.mat-button-toggle-ripple {
            border: 1px solid #009688 !important;
            border-radius: 0 !important;
        }
    }
}