<div class="w-full m-5 bg-white rounded-2xl">
      <nav mat-tab-nav-bar ngClass = "tabs">
        <a mat-tab-link routerLink="transaction-list" routerLinkActive="active-link" class="font-['Poppins'] not-italic">Transaction List</a>
        <a mat-tab-link routerLink="invoices" routerLinkActive="active-link" class="font-['Poppins']">Invoices</a>
        <a mat-tab-link routerLink="payments" routerLinkActive="active-link" class="font-['Poppins']">Payments</a>
        <a mat-tab-link routerLink="credit-notes" routerLinkActive="active-link" class="font-['Poppins']">Credit Notes</a>
        <a mat-tab-link routerLink="bond-payments" routerLinkActive="active-link" class="font-['Poppins']">Bond Payments</a>
        <a mat-tab-link routerLink="age-debtors" routerLinkActive="active-link" class="font-['Poppins']">Age Debtors</a>
     </nav>  
     <div>	
       <router-outlet></router-outlet>	
     </div>
</div>
<div *ngIf="!openMenu" 
  class="absolute right-1 top-[205px] bg-[#7A9DC2] rounded-tr-md rounded-br-md flex items-center cursor-pointer" 
  matTooltip="Menu"
  matTooltipClass="bg-black"
  matTooltipPosition="left"
  (click)="openMenu = true">
  <mat-icon class="h-[15px] w-[15px] min-h-[15px] min-w-[15px] text-white my-1 mr-1" svgIcon="heroicons_solid:menu-alt-1"></mat-icon>
</div>
<span *ngIf="openMenu">
  <diV  class="absolute right-1 top-[205px] bg-[#EF4444] rounded-tr-md rounded-br-md flex items-center cursor-pointer" 
    matTooltip="Close"
    matTooltipClass="bg-black"
    matTooltipPosition="left"
    (click)="openMenu = false">
    <mat-icon class="h-[15px] w-[15px] min-h-[15px] min-w-[15px] text-white my-1 mr-1" svgIcon="heroicons_outline:x"></mat-icon>
  </diV>
  <div class="absolute right-1 top-[245px] bg-[#009688] rounded-tr-md rounded-br-md flex items-center cursor-pointer"
    matTooltip="Export"
    matTooltipClass="bg-black"
    matTooltipPosition="left">
    <mat-icon class="h-[15px] w-[15px] min-h-[15px] min-w-[15px] my-1 mr-1 text-white" svgIcon="heroicons_outline:folder-download"></mat-icon>
  </div>
</span>
